.signUpBackground {
  background-image: url("../images/back.jpg");
}
.mainPagesBackground {
  background-image: url("../images/mainback.jpg");
}
.dashBoardTileBackGround {
  background-image: url("../images/dashboard-back.png");
}
